.wrapper
  .side-bar
    .top
      .top__items
        .top__items__user
          =current_user.name
        .top__items__icon<>
          = link_to "#", class: "top__items__icon__left" do
            = icon('fa','edit', class: 'top__items__icon--color')
          = link_to edit_user_path(current_user), class: "top__items__icon__right" do
            = icon('fa', 'cog' ,class: 'top__items__icon--color')
    .list
      = link_to "#" ,class: "list--under_bar" do
        .list__group
          %p.list__group__title<
            タイトル
          %p.list__group__message<
            これはテストです
      = link_to "#" ,class: "list--under_bar" do
        .list__group
          %p.list__group__title<
            タイトル2
          %p.list__group__message<
            これはテスト2です
  .chat-main
    .group-info
      .group-info__left
        %p.group-info__left__title<
          タイトル2
        %p.group-info__left__member<
          Member : ssssss
      .group-info__right
        = link_to "#" do
          Edit
    .contents
      .contents__item
        .contents__item__top
          %p.contents__item__top__user<
            ssssss
          %p.contents__item__top__date<
            2020/05/09
        %p.contents__item__message<
          テストメッセージ。
        .contents__item__picture
      .contents__item
        .contents__item__top
          %p.contents__item__top__user<
            ssssss
          %p.contents__item__top__date<
            2020/05/09
        %p.contents__item__message<
          ああああああああああ。
        .contents__item__picture
      .contents__item
        .contents__item__top
          %p.contents__item__top__user<
            ssssss
          %p.contents__item__top__date<
            2020/05/09
        %p.contents__item__message<
          いいいいいいいいいいいい。
        .contents__item__picture

    .form
      -# = form_for [@group, @message] do |f|
      .form__new
        .form__new__input
          %input{type: "text", class: "form__new__input__message", placeholder: "input a message"}
          %label{class: "form__new__input__picture"}
            = icon('far', 'image')
            %input{type: "file", class: "form__new__input__picture--file"}
        %input{type: "submit", class: "form__new__btn", value: "Send"}